* {
    margin :0;
    padding: 0;
}


.navigation {
   background-color: darkorchid;
   padding: 20px 0;
   position: fixed;
   width: 100%;
   z-index: 1;
}

.navigation h1 {
   /*RElative*/
   position: relative;
   left: 10%;
   width:-90%;
}

.announcement {
    background-color: darkcyan;
    height: 400px;
    position: relative;
    margin-top: 0px;
  

}

.announcement h2{
  position: absolute;
  top:40%;
  left:10%;

  color: #fff;
  text-transform: capitalize;
  font-size: 60px;
  font-family: impact;
  letter-spacing: 3px;
}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;

}

.main p{
    font-size: 1.5em;
    margin-bottom: 25px;
}